<body>
    <section class="container">
        <div class="flip-horizontal-bottom">
            
        </div>
        <div class="flip-horizontal-bottom">
            
        </div>
        <div class="flip-horizontal-bottom">
            
        </div>
        <div class="flip-horizontal-bottom">
            
        </div>
        <div class="flip-horizontal-bottom">
            
        </div>
        <div class="flip-horizontal-bottom">
            
        </div>
        <div class="flip-horizontal-bottom">
            
        </div>
        <div class="flip-horizontal-bottom">
            
        </div>
        <div class="flip-horizontal-bottom">
            
        </div>
        <div class="flip-horizontal-bottom">
            
        </div>
        <div class="flip-horizontal-bottom">
            
        </div>
        <div class="flip-horizontal-bottom">
            
        </div>
        <div class="flip-horizontal-bottom">
            
        </div>
        <div class="flip-horizontal-bottom">
            
        </div>
        <div class="flip-horizontal-bottom">
            
        </div>
        <div class="flip-horizontal-bottom">
            
        </div>
    </section>
</body>
