<body>
    <nav>
        <ul class = "menu">
            <li> <a href="#">About</a></li>
            <li> <a href="#">Works</a></li>
            <li>
                <a href="#">Skills</a>
                <ul class="submenu">
                    <li> <a href="#"> Java</a></li>
                    <li> <a href="#"> Spring</a></li>
                    <li> <a href="#"> Angular</a></li>
                </ul>
            </li>
            <li> <a href="#">Blogs</a></li>
            <li> <a href="#">Contact</a></li>
        </ul>
    </nav>
</body>
